:root {
    --gray-color: #808080;
}
#heroPrepa {
    width: 100%;
    height: 720px;
    margin-top: 177px;
    background: linear-gradient(
            to right,
            rgba(0, 2, 1, 0.9) 50%,
            rgba(39, 115, 104, 0.588) 80%,
            rgba(0, 0, 0, 0.271) 100%
        ),
        url("../img/background-prepa.jpg") center;
    background-position: right;
    background-size: cover;
    color: var(--white);
}

#heroLicenciatura {
    width: 100%;
    height: 720px;
    margin-top: 177px;
    background: linear-gradient(
            to right,
            rgba(0, 2, 1, 0.9) 50%,
            rgba(39, 115, 104, 0.588) 80%,
            rgba(0, 0, 0, 0.271) 100%
        ),
        url("../img/background-licenciatura.jpg") center;
    background-position: right;
    background-size: cover;
    color: var(--white);
}

.container-hero-preparatoria {
    padding-top: 8rem;
}

.container-hero-licenciatura {
    padding-top: 5rem;
}

.icono-hero-preparatoria {
    width: 365px;
}

.icono-hero-licenciatura {
    width: 167px;
}

.title-hero {
    font-size: 70px;
}

.texto-hero {
    width: 60%;
    margin: auto;
    margin-top: 3rem;
}

#mockup {
    min-height: 1365px;
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.container-beneficios-programa {
    width: 50%;
    min-height: 1065px;
    height: auto;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios-programa {
    width: 70%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mockup-programa-preparatoria {
    width: 50%;
    height: 1152px;
    background: url("../img/mockup-prepa.png");
    background-position: center;
    background-size: cover;
}

.mockup-programa-licenciatura {
    width: 50%;
    height: 1152px;
    background: url("../img/mockup-licenciatura.png");
    background-position: center;
    background-size: cover;
}

.item-beneficio-programa {
    display: flex;
    gap: 3rem;
}

.icono-beneficio-programa {
    width: 3.5rem;
}

.icono-beneficio-programa img {
    width: 3.5rem;
}

.container-ver-requisitos {
    max-width: 1010px;
    margin: auto;
    width: 100%;
}

.btn-ver-requisitos {
    width: 100%;
    background-color: var(--darker-main);
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 30px;
    border-radius: 0.6rem;
}

.btn-requisitos-desplegado {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.requisitos-desplegar {
    width: 100%;
    max-width: 1010px;
    background-color: var(--darker-main);
    height: 747px;
    color: var(--white);
    padding: 100px;
    display: none;
    position: relative;
    z-index: 80;
}

.item-requisito {
    font-size: 30px;
}

.mostrar {
    display: block;
}

.descarga-materiales {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.container-iconos-descarga-materiales {
    margin-top: 5rem;
    gap: 8rem;
}

.container-iconos-descarga-materiales > div {
    max-width: 170px;
}


@media (max-width: 991.98px) {
    
    .beneficios-programa{
        width: 90%;
    }
}

@media (max-width: 767.98px) {

    .container-beneficios-programa{
        width: 100%;
        padding: 2rem 1rem;
    }
    .mockup-programa-licenciatura{
        width: 100%;
    }
    .mockup-programa-preparatoria{
        width: 100%;
    }
    .container-iconos-descarga-materiales {
        gap: 3rem;
    }
}