@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
:root {
    /*variables de adobe*/
    ---b7b7b7-texto-2: #b7b7b7;
    ---2d2d2d-texto: #2d2d2d;
    ---0d665d-texto-1: #0d665d;
    ---15b2aa-texto-2: #15b2aa;

    /*variables propias*/
    --black: #000000;
    --main-color: #2e968c;
    --white: #ffffff;
    --main-black: #2d2d2d;
    --font-color-light: #b7b7b7;
    --font-green: #0d665d;
    --font-green-light: #15b2aa;
    --darker-main: #547a72;
    --darker-green: #17544A;
}

body {
    font-family: "Poppins", sans-serif;
}

.upper {
    text-transform: uppercase;
}

.color-white {
    color: var(--white);
}

.all-centered {
    display: flex;
    align-items: center;
    justify-content: start;
}

.border-red {
    border: 1px solid red;
}

.bold {
    font-weight: bold;
}

.button-gral {
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid transparent;
    padding: 1rem 2rem;
}

.button-gral:hover{
    background-color: var(--white);
    color: var(--main-color);
    border: 1px solid var(--main-color);

}

.f-18{
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-30{
    font-size: 30px;
}

.f-55 {
    font-size: 55px;
}

.mt-50 {
    margin-top: 50px;
}

.bg-center-cover {
    background-position: center;
    background-size: cover;
}

.f-color-black-light {
    color: var(--font-color-light);
}

/* -------------------- TOPBAR ------------------------*/
.topbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.topbar-top {
    height: 55px;
    background-color: var(--black);
}

.topbar-top__contacto {
    width: calc(100% - 192px);
}

.href-blanco-sin-estilos{
    color: var(--white);
    text-decoration: none;
}

.href-blanco-sin-estilos:hover{
    color: var(--white);
    text-decoration: none;
}

.icono-topbar-top{
    width: 2rem;
}

#btnIngresoAlumnos {
    width: 192px;
    height: 100%;
    padding: 0px;
}

.topbar-top__container {
    width: 100%;
    /* padding-left: 207px; */
    padding-right: 3rem;
}

.topbar-top__items {
    display: flex;
    gap: 4rem;
}

.topbar-menu {
    height: 124px;
    background-color: var(--white);
}

.topbar-menu__home {
    width: 35%;
}

.topbar-menu__home img {
    width: 11rem;
}

.topbar-menu__navbar {
    width: 65%;
}

.topbar-menu__navbar ul {
    list-style: none;
    margin: 0px;
}

.topbar-menu__navbar a {
    padding: 0.7rem 0px;
    border-bottom: 3px solid transparent;
}

.topbar-menu__navbar li {
    display: block;
    padding: 0.7rem 0px;
}

.topbar-menu__navbar a:hover {
    border-bottom: 3px solid var(--font-green);
    /* cursor: pointer; */
}

.topbar-menu__navbar a {
    text-decoration: none;
    color: var(--font-green);
    font-weight: bold;
}

/*----------------- CAROUSEL ------------------*/

#carousel {
    height: 636px;
    /* background-image: url("../img/banner-1.png");
    background-position: center;
    background-size: cover; */
    margin-top: 177px;
}

.carousel-inner, .carousel-item{
    height: 636px;
}

.title-carousel{
    font-size: 30px;
    text-align: start;
}

.carousel-caption{
    text-align: left;
}

.section-info-carousel{
    height: 122px;
    width: 840px;
    background-color: rgba(46, 150, 140, 0.6);
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
}

.btn-carousel-formar-parte{
    padding: 1rem;
    background-color: var(--white);
    border: none;
    border-left: 5px solid var(--main-color);
}

.menu-empresas-participantes {
    height: calc(636px - 3rem);
    width: 80%;
    background-color: #f3f3f3;
    display: none;
    position: absolute;
    z-index: 30;
    top: 178px;
    color: #000;
}

.container-menu-empresas-participantes{
    height: calc(636px - 3rem);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container-menu-empresas-participantes > div{
    height: 50%;
}

.col-empresas-participantes{
    padding: 2rem;
}

.container-menu-empresas-participantes > div:last-child .col-empresas-participantes:last-child{
    padding: 0px;
}

.container-menu-empresas-participantes > div .col-empresas-participantes:not(:last-child){
    border-right: 2px solid #6f6f6f;
}

.col-background-empresas-participantes{
    background: linear-gradient(
            to right,
            rgba(243, 243, 243, 1) 0%,
            rgba(243, 243, 243, 0.8) 30%,
            rgba(253, 253, 253, 0.7) 60%,
            rgba(250, 250, 250, 0.7) 80%
        ),
        url("../img/background-empresas-participantes.jpg") center;
    background-size: cover;
    width: calc(100% + 3rem);
    height: 100%;
    position: relative;
    left: -3rem;
}

.carousel-custom-container{
    height: 300px;
    top: 17%;
    left: 13%;
    right: auto;
}

.intro-container {
    max-width: 1170px;
    width: 100%;
    min-height: 590px;
    height: auto;
    margin: auto;
    position: relative;
    top: -3rem;
}

.intro__servicios {
    min-height: 140px;
    /* height: 140px; */
    background-color: var(--white);
    padding: 2rem 1.5rem;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* gap: 1rem; */
    flex-wrap: wrap;
}

.servicio-intro {
    /* min-width: 100px */
    display: flex;
    /* justify-content: center; */
    height: 100%;
    gap: 1rem;
    height: calc(140px - 4rem);
    padding-right: 0.6rem;
}
.servicio-intro:last-child {
    padding-right: 0px;
}

.servicio-intro__icon {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.servicio-intro__icon img {
    width: 2rem;
    margin-top: 0.5rem;
}
/* .servicio-intro:nth-child(1) .servicio-intro__icon {
    background: url("../iconos/servicio-comunidad.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

.servicio-intro__title {
    font-weight: bold;
    color: var(--font-green);
}

.servicio-intro__text {
    width: calc(100% - 3rem);
}

.servicio-intro__description {
    font-size: 14px;
    color: var(--font-color-light);
}

.intro__imagenes {
    height: calc(100% - 140px);
    display: flex;
}

.intro__imagenes-izquierda {
    background-image: url("../img/futuro-izquierda.jpg");
    background-position: center;
    background-size: cover;
}

.intro__imagenes-text {
    padding: 4rem 5rem;
    background-image: url("../img/futuro-derecha.png");
    background-position: center;
    background-size: cover;
    color: var(--white);
}

/* #btnQuieroInscribirme{
    width: 192px;
    height: 56px;
} */

/* -------------  ACERCA ----------*/

#acerca {
    height: 538px;
    width: 100%;
    display: flex;
    padding: 4rem 6rem;
    color: var(--white);
    background-position: center;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.271) 0%,
            rgba(39, 115, 104, 0.588) 20%,
            rgba(0, 2, 1, 0.95) 60%
        ),
        url("../img/fondo-acerca.png") center;
    background-size: cover;
    /* background: #8A2387;  
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);  */
}

.logo-texto-acerca{
    margin-left: auto;
    /* text-align: end; */
    /* padding-right: 4rem; */
    width: 300px;
}

#acercaBottom {
    min-height: 400px;
    height: auto;
    background-color: var(--main-black);
}

.contenedor-acerca {
    height: 100%;
    padding: 5rem 0px;
    color: var(--white);
    flex-wrap: wrap;
}

.icono-acerca-bottom {
    width: 2.5rem;
}

/* -------------  EVENTOS ----------*/

#eventos {
    min-height: 850px;
    height: auto;
    width: 100%;
}

.contenedor-eventos {
    padding: 50px;
}

.container-eventos-top {
    min-height: 220px;
    height: auto;
    flex-wrap: wrap;
}

.card-eventos-top {
    padding: 3rem 4rem;
}

.card-eventos-top:nth-child(1) {
    background: linear-gradient(
            rgba(39, 115, 104, 0.7),
            rgba(39, 115, 104, 0.7)
        ),
        url("../img/card-eventos-top1.jpg");
    background-size: cover;
    background-position: center;
    color: var(--white);
}

.card-eventos-top:nth-child(2) {
    background-color: var(--main-black);
    color: var(--white);
}

.card-eventos-top:nth-child(3) {
    background: linear-gradient(
            rgba(39, 115, 104, 0.7),
            rgba(39, 115, 104, 0.7)
        ),
        url("../img/card-eventos-top2.jpg");
    background-size: cover;
    background-position: center;
    color: var(--white);
}

.cards-eventos-bottom {
    min-height: 480px;
    height: auto;
    margin-top: 50px;
    flex-wrap: wrap;
}


.title-about-bottom {
    font-size: 20px;
}

.text-about-bottom {
    color: var(--font-green-light);
}

#encuentraOferta {
    height: 672px;
    width: 100%;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(39, 115, 104, 0.6) 30%,
            rgba(0, 2, 1, 0.97) 50%
        );
    background-size: cover;
    color: var(--white);
}

.container-imagenes-fondo{
    display: flex;
    width: 100%;
    height: 100%;
    
}

.encuentra-oferta-izquierda{
    width: 50%;
    background: url("../img/background-encuentra-oferta.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.encuentra-oferta-derecha{
    width: 50%;
    background: url("../img/Logo-Blanco.svg");
    background-size: cover;
    background-position: left;
    z-index: -1;
}

.card-items-acerca {
    gap: 1rem;
    padding: 1rem;
}

.eventos-left {
    padding-right: 2rem;
}

.eventos-right {
    padding-left: 1.5rem;
}

.eventos-right__img {
    width: 100%;
    height: 100%;
    min-height: 342px;
    background: url("../img/cartel-actividades.png");
    background-size: cover;
    background-position: top;
}

.eventos-left__img {
    width: 100%;
    height: 188px;
    background: url("../img/inscribe-tu-empresa.jpg");
    background-size: cover;
    background-position: center;
}

.header-proximos-eventos > p {
    width: max-content;
    margin: 0;
    padding: 0;
}

.eventos-header-divider {
    width: 40%;
    height: 4px;
    background-color: var(---b7b7b7-texto-2);
    /* padding-left: 2rem; */
}

.evento {
    display: flex;
    width: calc(100% - 3rem);
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.title-evento {
    font-weight: bold;
}

.select-oferta {
    border-radius: 0px;
    background-color: rgba(13, 102, 93, 0.6);
    color: var(--white);
    border: 1px solid transparent;
}

/*------------- OFERTA -----------*/

.containerOferta {
    position: relative;
    width: 100%;
    max-width: 65%;
    height: 100%;
    margin-left: auto;
    top: -672px;
}

.containerOferta form {
    padding: 0px 2rem 0px 0px;
}

.fila-select-oferta {
    gap: 3rem;
}

.container-form-oferta {
    width: 800px;
    padding-top: 5rem;
}

.title-oferta {
    font-size: 30px;
}

.description-oferta {
    font-size: 55px;
}

#btnBuscarCursos {
    width: 100%;
}

#ofertaAcademicaEmpresas {
    width: 100%;
    min-height: 1094px;
    height: auto;
    /* display: flex;
    flex-direction: column;
    gap: 50px; */
}

.container-img-oferta-academica {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 50px;
    width: 85%;
    margin: auto;
}

.card-oferta-academica {
    height: 347px;
    width: 300px;
}

.card-oferta-academica__img {
    height: 282px;
}

.card-oferta-academica__buttons {
    height: 65px;
    padding: 0.5rem 0px;
}

.card-oferta-academica:nth-child(1) .card-oferta-academica__img {
    background: url("../img/BajaCalifornia.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(2) .card-oferta-academica__img {
    background: url("../img/NuevoLeon.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(3) .card-oferta-academica__img {
    background: url("../img/Chihuahua.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(4) .card-oferta-academica__img {
    background: url("../img/Tamaulipas.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(5) .card-oferta-academica__img {
    background: url("../img/Coahuila.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(6) .card-oferta-academica__img {
    background: url("../img/Sonora.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(7) .card-oferta-academica__img {
    background: url("../img/SanLuis.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(1):hover .card-oferta-academica__img {
    background: url("../img/BajaCaliforniaColor.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(2):hover .card-oferta-academica__img {
    background: url("../img/NuevoLeonColor.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(3):hover .card-oferta-academica__img {
    background: url("../img/ChihuahuaColor.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(4):hover .card-oferta-academica__img {
    background: url("../img/TamaulipasColor.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(5):hover .card-oferta-academica__img {
    background: url("../img/CoahuilaColor.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(6):hover .card-oferta-academica__img {
    background: url("../img/SonoraColor.png");
    background-position: center;
    background-size: cover;
}

.card-oferta-academica:nth-child(7):hover .card-oferta-academica__img {
    background: url("../img/SanLuisColor.png");
    background-position: center;
    background-size: cover;
}

.container-ver-cursos {
}

.btn-styless {
    background-color: var(--white);
    border: none;
}

.btn-ver-cursos {
    background-color: var(--white);
    color: var(--font-green);
    border-bottom: 3px solid var(--font-green);
    padding-bottom: 0.5rem;
}

#estudiaAcademiaGlobal {
    height: 447px;
    width: 100%;
    display: flex;
    padding: 4rem 6rem;
    color: var(--white);
    background-position: center;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.271) 0%,
            rgba(39, 115, 104, 0.588) 20%,
            rgba(0, 2, 1, 0.9) 60%
        ),
        url("../img/background-academia-global.jpg") center;
    background-size: cover;
}

#empresas {
    width: 100%;
    min-height: 209px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

footer {
    border-top: 8px solid var(--main-color);
}

footer section:first-of-type {
    background-color: var(--main-black);
    color: var(--white);
}

footer section:first-of-type h5 {
    padding-bottom: 8px;
    font-size: 1rem;
    border-bottom: 3px solid var(--font-green-light);
}

footer section:first-of-type img {
    width: inherit;
}

footer section:last-of-type {
    background-color: var(--black);
    color: var(--white);
    font-size: 0.7rem;
}

footer section:last-of-type i {
    font-size: 1rem;
    color: var(--font-green-light);
}

#whatsappIcon{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.card-items-acerca:hover .animation-down{
    transform: translateY(20px);
    transition: 0.3s all;
}

.card-items-acerca:hover .animation-up{
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.3s all;
}

#imgCarousel1{
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
            to right,
            rgba(0, 2, 1, 0.9) 50%,
            rgba(39, 115, 104, 0.588) 80%,
            rgba(0, 0, 0, 0.271) 100%
        ),
        url("../img/carousel1.jpg") center;
    background-position: top;
    background-size: cover;    
}

#imgCarousel2{
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
            to right,
            rgba(0, 2, 1, 0.9) 50%,
            rgba(39, 115, 104, 0.588) 80%,
            rgba(0, 0, 0, 0.271) 100%
        ),
        url("../img/carousel2.jpg") center;
    background-position: top;
    background-size: cover;    
}

#imgCarousel3{
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
            to right,
            rgba(0, 2, 1, 0.9) 50%,
            rgba(39, 115, 104, 0.588) 80%,
            rgba(0, 0, 0, 0.271) 100%
        ),
        url("../img/carousel3.jpg") center;
    background-position: center;
    background-size: cover;    
}

@media (max-width: 1399.98px) {
    .containerOferta {
        max-width: 100%;
        margin: auto;
    }

    .container-form-oferta {
        width: 800px;
        margin: auto;
    }
}

@media (max-width: 991.98px) {
    .intro__servicios {
        width: 60%;
        margin: auto;
    }
    .cards-eventos-bottom {
        width: 60%;
        margin: 50px auto 0px auto;
        gap: 2rem;
    }
    .container-form-oferta {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 767.98px) {
    .intro__imagenes-izquierda {
        display: none;
    }
    #acerca {
        margin-top: -3rem;
    }
    .container-form-oferta {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .intro__servicios {
        width: 100%;
    }
}


